#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws


*.class
*.info
*.properties




/lib/
/out/
/Test/
/Test/src/
/Test/src/sorce/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/META-INF/
