#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws


*.class
*.info
*.properties




/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
